@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

:root {
  --background-page: #eeeeee;
}

body {
  background: var(--background-page);
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.social__header-link svg rect {
  transition: all 0.2s linear;
  fill: #eee;
}

.social__header-link:hover svg rect {
  fill: #b7b7b7;
}

.swiper-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-auto-rows: 1fr;
}
