@tailwind base;
@tailwind components;
@tailwind utilities;

.social__header-link svg rect {
  transition: all 0.2s linear;
  fill: #eee;
}

.social__header-link:hover svg rect {
  fill: #b7b7b7;
}

.swiper-button-disabled svg path {
  stroke-width: 1.5;
}
