@tailwind base;
@tailwind components;
@tailwind utilities;

.social__header-link svg rect {
  transition: all 0.2s linear;
  fill: #eee;
}

.social__header-link:hover svg rect {
  fill: #b7b7b7;
}

.social__footer-link svg rect {
  transition: all 0.2s linear;
  fill: #1f0b0b;
}

.social__footer-link:hover svg rect {
  fill: #b7b7b7;
}

.social__footer-link:hover svg path {
  stroke: #1f0b0b;
}

.upToTop svg path,
.upToTop svg rect {
  transition: 0.15s all ease-in-out;
}

.upToTop:hover svg path {
  stroke: #ffbe42;
}

.upToTop:hover svg rect {
  fill: #493939;
}

.swiper-button-disabled svg path {
  stroke-width: 1.5;
}

.fullWidth {
  padding-left: calc(100vw - 100%);
}

.no-scroll {
  overflow-y: hidden;
}
